
  <header class='header'>
    <div class="col-3">
    {{> logo}}
    </div>  
    <nav class='header_nav'>
      <div class="header_nav_right">
      {{> nav list=header}}
      </div>
    </nav>
  </header>

 {{#with main}}
  <div class="main">
    <div class="main_content">
      <img src="{{image}}" alt="Main image" class="main_image">
      <div class="main_content_text">
        <h1 class="main_heading">{{heading}}</h1>
          <p class="main_description">{{description}}</p>
          <a class="button main_button" href="{{href}}">{{button}}</a>
      </div>
    </div>
  </div>
{{/with}}

  <div class="featured">
    {{#each featured}}
      {{> cardFeatured data=this}}
    {{/each}}
  </div>

<div class="actions">
 {{#each actions}}
    <div class="actions_card">
      <div class="actions_item">
        <h3 class="actions_heading">{{heading}}</h3>
        <a class="btn btn-primary actions_button" href="{{url}}">{{text}}</a>
      </div>
    </div>
 {{/each}}
</div>

      <footer class="footer">
        <div>
          {{> logo}}
          <span class="footer_copyright">Copyright 2023-2024</span>
        </div>

        {{#each footer}}
          <div class="col-3">
            <span class="footer_title">{{title}}</span>
            {{> nav list=links isVertical=true}}
          </div>
        {{/each}}
      </footer>


