
  <header class='header'>
    <div class="col-3">
    {{> logo}}
    </div>  
    <nav class='header_nav'>
      <div class="header_nav_right">
      {{> nav list=header}}
      </div>
    </nav>
  </header>
     
  <main class="main">
    {{#with messages}}
      <div class="messages">
        <h1 class="messages_title">{{title}}</h1>

        {{#each list}}
          <div class="msg">
            <strong class="msg_name">{{name}}</strong>
            <p class="msg_text">{{message}}</p>
            <span class="msg_day">{{day}}</span>
          </div>
        {{/each}}

        <a href="#" class="messages_link">All messages</a>
      </div>
    {{/with}}
    <div class="form">Form</div>
  </main>

  <div class="advantages">
    {{#each advantages}}
    <div>
      <strong>{{title}}</strong>
      <p>{{text}}</p>
    </div>
    {{/each}}
  </div>

  <footer class="footer">
    <div>
      {{> logo}}
      <span class="footer_copyright">Copyright 2023-2024</span>
    </div>

    {{#each footer}}
      <div class="col-3">
        <span class="footer_title">{{title}}</span>
        {{> nav list=links isVertical=true}}
      </div>
    {{/each}}
  </footer>