
  <header class='header'>
    <div class="col-3">
    {{> logo}}
    </div>  
    <nav class='header_nav'>
      <div class="header_nav_right">
      {{> nav list=header}}
      </div>
    </nav>
  </header>

 {{#with hero}}
  <div class="hero">
    <div class="hero_content">
      <h1 class="hero_title">{{title}}</h1>
      <p class="hero_text">{{text}}</p>
    </div>
    <img src="{{photo}}" alt="Hero image" class="hero_image">
  </div>
{{/with}}

  <main class="blog">
    {{#each blog}}
      {{> cardBlog data=this}}
    {{/each}}
  </main>

  {{#with form}}
  <div class="form">
    <div class="form_content">
      <h3 class="form_title">{{title}}</h3>
      <p class="form_info">{{info}}</p>
    </div>
    <div class="form_action">
      <a class="button form_button" href="{{href}}">{{button}}</a>
    </div>
  </div>
  {{/with}}
     
      <footer class="footer">
        <div>
          {{> logo}}
          <span class="footer_copyright">Copyright 2023-2024</span>
        </div>

        {{#each footer}}
          <div class="col-3">
            <span class="footer_title">{{title}}</span>
            {{> nav list=links isVertical=true}}
          </div>
        {{/each}}
      </footer>


